<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target= "#navbar-container">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="" class="navbar-brand">PredictCrypto</a>
      
      </div>

      <div class="collapse navbar-collapse" id="navbar-container">
        <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/predict">Predict</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
         </ul>
      </div>

    </div>
    
  </nav>