{% extends 'layout.html' %}

{% block body %}



<div class="text-center">
    <div class="tile">
        <div class="wrapper">
            <div class="header" style="color:blue" ;>BTC Price</div>

            <h2>{{price}}$</h2>
        </div>
    </div>
</div>





<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="tile">
                <div class="wrapper">
                    <div class="header">Price Fluations</div>

                    <div class="dates">
                        Todays Date
                    </div>

                    <div class="stats">

                        <div>
                            <strong>High</strong> 5771.11
                        </div>

                        <div>
                            <strong>Low</strong> 5352.73
                        </div>

                        <div>
                            <strong>Average</strong> 5561.92
                        </div>

                    </div>

                    <div class="stats">

                        <div>
                            <strong>High</strong> 5652.77
                        </div>

                        <div>
                            <strong>Low</strong> 5490.55
                        </div>

                        <div>
                            <strong>Average</strong> 5571.66
                        </div>

                    </div>

                    <div class="footer">
                        <a href="#" class="Cbtn Cbtn-primary">Predict</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="tile">
                <div class="wrapper">
                    <div class="header"> Bitcoin Graph</div>


                    <div style="height: 320px;" class="stats">

                        <img src="/static/images/btcprice.png" alt="bitcoin live price" width="95%" height="auto">


                    </div>
                    
                </div>
            </div>
        </div>







        {% endblock %}